
<!-- 
    Recieves 
    dictionary: musicians 
    list : band
    list: muso_list

    list: muso_dict_list,
    list: muso_tuple_list,
    list: muso_set_list,
    list: muso_range_list
    
    from sandbox/views.list_edits
-->
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>sandbox</title>
    </head>
    <body>
        <div >
            <h1>List Manipulation</h1>
            <h2>Musicians dictionary sequence{{musicians}}</h2>

            <h1>{{band}}</h1>
            <h2>{{musicians}}</h2>
            <h2>muso_list = {{muso_list}}</h2>
            <h2>muso_dict list only captures keys and not values= {{muso_dict_list}}</h2>
            <h2>muso_tuple_list = {{muso_tuple_list}}</h2>
            <h2>muso_set_list discards duplicates and doesnt preserve the order = {{muso_set_list}}</h2>
            <h2>muso_range_list = {{muso_range_list}}</h2>
   
            
            
        </div>
    </body>
</html>