
<!-- Recieves solve_for_x variable as parameter from views.solve_for_x-->
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>sandbox</title>
    </head>
    <body>
        <div >
            <h1>Solve For X</h1>
            <h2>Alphabetical sort {{solve_for_x}}</h2>

            <h1>Solve For X2</h1>
            <h2>Reference sort {{solve_for_x2}}</h2>

            <h1>Solve For X3</h1>
            <h2>Cross Reference sort {{solve_for_x3}}</h2>
            
        </div>
    </body>
</html>