
<!DOCTYPE html>

<html lang="en">
    <head>
        <title> test
        </title>
    </head>
    <body>
        <h1>New Wiki Data</h1>
        <div>Title : {{title}}</div>
        <br>
        <div>Body : {{body}}</div>
        <br>
        <div>Generated Valid Title : {{valid_title}}</div>
        <br>
        <div>Wiki Entries Path {{wiki_entries_path}}</div>
        <br>
        <div>Target File : {{target_file}}</div>
        <br>
        <div></div>
        <br>
        <div></div>
        <br>
    </body>
</html>